/* src/assets/styles/custom.css */

:root {
  --primary: #fea116;
  --light: #f1f8ff;
  --dark: #0f172b;
}

body {
  font-family: 'Heebo', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
}

.ff-secondary {
  font-family: 'Pacifico', cursive !important;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover {
  background-color: #d98a0b;
  border-color: #d98a0b;
}

.text-primary {
  color: var(--primary) !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
}
